/* Card.css */
.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px; /* Adjust the width as needed */
  }
  
  .product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly elevate on hover */
  }
  
  .card-content {
    padding: 20px;
    text-align: center;
  }
  
  .prodName {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .prodPrice {
    font-size: 16px;
    color: #111111;
    margin-bottom: 12px;
  }
  
  .btn {
    padding: 12px;
    background-color: #1c1c1d;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #121213;
  }
  