/* Customer.css */

.customer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 100px; /* Adjust the margin-top value based on your preference */
}

.customerTitle {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.instructions {
  font-size: 16px;
  color: #555;
}

.checkbox-wrapper {
  margin-top: 20px;
}

.checkbox-wrapper label {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
}

.checkbox-wrapper input {
  margin-left: 10px;
}

.btn {
  display: block;
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.error {
  color: #ff0000;
  margin-top: 10px;
  font-size: 14px;
}
