/* Footer.css */

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #000; /* Black background */
  color: #fff !important; /* White text */
  text-align: center;
  padding: 3px; /* Adjust the padding to reduce the height */
  font-size: 12px;
  font-weight: bold; /* Bold text */
  text-transform: uppercase; /* Full caps */
  height: 30px; /* Adjust the height as needed */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Add additional styles as needed */
